/* You can add global styles to this file, and also import other style files */
body {
  background-color: #cebbbb85;
}

.container {
  background-color: rgba(255, 255, 255, 0.547);
  min-height: 90vh;
}
